Package: baux
Version: 0.2.1
Architecture: all
Maintainer: badlandz <robert.current@gmail.com>
Installed-Size: 84
Depends: tmux, neovim, bashtop
Section: utils
Priority: optional
Homepage: https://github.com/badlandz/baux
Description: Badlandz Auxiliary UniX - distributed terminal IDE
 BAUX replaces the shell with a persistent, host-aware tmux+Neovim IDE
 for embedded electronics development.
