#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
	install -D -m 0755 core/baux $(CURDIR)/debian/baux/usr/bin/baux
	mkdir -p $(CURDIR)/debian/baux/usr/share/baux/nvim
	install -m 0644 nvim/init.lua $(CURDIR)/debian/baux/usr/share/baux/nvim/init.lua
